#worksanimation figcaption a{display: inline-block;color: #fff;}
#worksanimation figcaption a:hover{border:3px solid #fff;text-decoration: none;padding: 0 25px;}
/*worksanimation*/



#worksanimation h2
{


	font-size: 65px;
		text-transform:none;
}
#worksanimation h4{




	color: #fff;

	font-size: 65px;
	text-transform: none;
font-family: 'Kaushan Script', cursive;

	letter-spacing: 1px;
}

.catp{


	   background-color:#fff; */#e5e5e5; */
}
#blackline{

border-color:  #333;
border-width: medium;
width: 25%;
}
#worksanimation.cticon{

  color: #333;
}
#categorygalley{


	padding-top: 70px;
}
.grid {
	position: relative;
	/* margin: 0 auto; */
	list-style: none;
	padding-bottom:  1px;
	text-align: center;

}

/* Common style */
.grid figure {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 0;	/*change here for spacing*/
	max-width: 100%;
	text-align: center;
	cursor: pointer;

}

.grid figure img {
	position: relative;
	display: block;
	max-width: 100%;
	opacity: 1;
}

.grid figure figcaption {
	/* padding: 2em; */
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;

}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;

}

.grid figure h4 {
	word-spacing: 0.15em;
	font-weight: 200;
	left: 0;
	 position:absolute;
	 text-align:center;
	 top: 30%;
	 width: 100%


}

.grid figure h4,
.grid figure p {
margin:0;
}

.grid figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}




/*---------------*/
/***** Oscar *****/
/*---------------*/
/*
figure.effect-oscar {
	background: -webkit-linear-gradient(45deg, #22682a 0%, #9b4a1b 40%, #3a342a 100%);
	background: linear-gradient(45deg, #22682a 0%,#9b4a1b 40%,#3a342a 100%);
}
*/
/* figure.effect-oscar img {
	opacity: 0.9;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
} */

figure.effect-oscar figcaption {
	padding: 15%;
	/* background-color: rgba(58,52,42,0.7);
	-webkit-transition: background-color 0.35s;
	transition: background-color 0.35s; */
}

figure.effect-oscar figcaption::before {
	position: absolute;
	top: 30px;
	right: 30px;
	bottom: 30px;
	left: 30px;
	/* border: 1px solid #fff; */
	content: '';
}

figure.effect-oscar h4 {
	margin: 0;
	line-height: 1em;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
}

/* figure.effect-oscar figcaption::before,
figure.effect-oscar p {
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(0);
	transform: scale(0);
} */

figure.effect-oscar:hover a{
	/* -webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0); */
	/* opacity: 1; */
	/* -webkit-transform: scale(1);
	transform: scale(1); */
border:3px solid #fff;
padding: 0 20px;
}

/* figure.effect-oscar:hover figcaption::before,
figure.effect-oscar:hover p {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
} */

figure.effect-oscar:hover figcaption {
	background-color: rgba(0,0,0,0.8);
}

figure.effect-oscar:hover img {
	opacity: 0.4;
}


@media screen and (max-width: 50em) {
	.content {
		padding: 0 10px;
		text-align: center;
	}
	.grid figure {
		width: 100%;
	}
}


@media (max-width: 639px) {
	.grid figure {width: 100%;}
}



@media (max-width: 1000px) {
	#worksanimation h4{

font-size: 40px;
}
}



@media (max-width: 750px) {
	#worksanimation h4{

font-size: 30px;
}

#worksanimation h2{

font-size: 55px;
}
}






@media (min-width: 760px) and (max-width: 1100px) {
.grid figure figcaption {

font-size: 15px;
}
}


@media (max-width: 650px) {
	#worksanimation h4{

font-size: 20px;
}


#worksanimation h2{

font-size: 45px;
}

}


@media (max-width: 500px) {

	#worksanimation h4{

         font-size: 25px;
}


#worksanimation h2{

font-size: 35px;
}


}

@media (max-width: 400px) {
	#worksanimation h4{

font-size: 20px;
}
#worksanimation h2{

font-size: 25px;
}

}
