#faqsection{


        width: 100%;
       min-height:100vh;

        position: relative;
    padding-bottom: 10%;
  }
  #header
  {
      position: relative;
      color: #fff;
      text-shadow: 0 0 0.5px rgba(255,255,255,0.25);
      text-align: center;
      margin: 0;
  /* margin-bottom:10%; */
      /* padding: 14em 0 0 0; */
      cursor: default;
  }

  #header header h1
  {
      font-weight: 600;
      /* font-size: 70px; */
      font-size: 3em;
      letter-spacing: 10px;
      text-transform: none;
  }

details[open] >summary
{


  color: black;
}
  details {
    width: 75%;
    min-height: 5px;
    max-width: 700px;
    /* padding: 45px 70px 45px 45px; */
    padding: 1em;
    margin: 0 auto;
    position: relative;
    font-size: 22px;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 15px;
    box-sizing: border-box;
    transition: all .3s;
    background-color: black;
  }

  details + details {
    margin-top: 20px;
  }

  details[open] {
    min-height: 50px;
    background-color: #f6f7f8;
    box-shadow: 2px 2px 20px rgba(0,0,0,.2);
  }

  details p {
    color: #212121;
    font-weight:400;
      font-size: 18px;
      padding-top: 1%;
  }

  summary {
    font-weight: 500;
    cursor: pointer;
        color: #bdbdbd;

  }

  /* removed outline as for codepen only
    don't remove focus on elements
    it's bad accessibility
    don't be _that_ guy
  */
  summary:focus {
    outline: none;
  }

  summary::-webkit-details-marker {
    display: none
  }

  summary::after {
    padding: 20px;
    position: absolute;
    top: 50%;
    right: 0;
    color: #ffc20e;
    font-family: "FontAwesome";
    font-size: 15px;
    font-style: normal;
    font-variant-caps: normal;
    font-variant-ligatures: normal;
    font-weight: 900;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    content: "\f078";
    transform: translateY(-50%);
    transition: .3s ease;
  }

  details[open] summary::after {
    content: "\f057";
    font-size: 30px;
    top: 0;
    transform: translateY(0);
    transition: .3s ease;
  }

  details[open] summary:hover::after {
    animation: pulse 1s ease;
  }

  @keyframes pulse {
    25% {
      transform: scale(1.1);
    }
    50% {
      transform: scale(1);
    }
    75% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }

  @media (max-width: 1200px)
  {
  #header header h1 {
      /* font-size: 30px; */
      font-size: 3em;
      letter-spacing: 6px;
  }
}



              #header header
              {
                  display: inline-block;
                  padding: 0 0 4.5em 0;
              }

              header
              {
                  margin-bottom: 1em;
              }
