<div ng-controller="PController" class="container-fluid login-div">
    <div ng-if="showSuccess" class="margin-top-20 padding-top-20">
        <div class="margin-btm-none alert alert-success">
            <strong>Password Changed!</strong>
        </div>
    </div>
    <div style="text-align:center;">
        <h4>Update Password</h4>
    </div>
    <div class="row margin-top-20" ng-init="clearData();">
        <form ng-submit="updatePassword();">
            <input placeholder="Old Password" class="form-control" ng-model="selectedData.oldPassword" type="password" name="oldpassword"
                required/>
            <br/>
            <input placeholder="Password" class="form-control" ng-model="selectedData.newPassword" type="password" name="newpassword"
                required/>
            <br/>
            <input class="form-control btn btn-success" type="submit" value="Update">
        </form>
        <!-- <span ng-if="loginError"> -->
        <div ng-if="showDanger" class="margin-top-20">
            <span class="form-control alert alert-danger" style="padding:6px 12px 6px 12px !important;">
                {{ errorMsg }}
            </span>
        </div>
    </div>
</div>